/.idea
/target
**/*.rs.bk
Cargo.lock
tests/bin/*
tests/bytes/*
tests/code/*.o
tests/code/*.S
/tests/assembly/*
/tests/assembly/*.s
/tests/assembly/*.S
/tests/assembly/*.asm
/tests/assembly/*.ndisasm
/tests/assembly/inject*
/tests/assembly/exec_*
shell_asm/bin/*
shell_asm/assembly/*.asm
shell_asm/assembly/*.s
shell_asm/assembly/*.S
shell_asm/assembly/*.ndisasm
shell_asm/assembly/*.o
shell_asm/code/*.o
.gdbinit

*.s
*.o
inject
tests/assembly/riscv/*
*.pdf
